version: '3.8'

services:
  api-planos-saude:
    container_name: api-planos-saude-runtime
    build:
      context: .
      dockerfile: Dockerfile.runtime
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./uploads:/app/uploads
      - ./temp:/app/temp
      - ./logs:/app/logs
    restart: unless-stopped
